/* body {
  margin: 0;
  padding: 0;
  background-color: #ececec65;
}


/* =======FORM-======*/
.form-card {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.form-card h2 {
  text-align: center;
}

.form-card label {
  display: block;
  margin-bottom: 10px;
}

.form-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

.form-card button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* float: right; */
}

.form-card button[type="submit"]:hover {
  background-color: #45a049;
}

/* SHOWING CARDS */
.users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  margin: 20px auto;
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-btn, .update-btn {
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.update-btn {
  background-color: #4CAF50;
}